<%= form_for [@user, @pool] do |f| %>
<hr>
<h3>Selected Libraries:</h3>
<table>
	<thead>
	  <tr>
	    <th>Lib name:</th>
	    <th>Sample name:</th>
	    <th>Target size:</th>
	    <th>Quantity:</th>
	    <th>pmol/L (after):</th>
	  </tr>
	</thead>
	<tbody>
	  <% @libraries.each do |library| %>
	    <tr>
	      <td><%= library.lib_number %></td>
	      <td><%= library.sample.name %></td>
	      <td><%= library.target_size %></td>
	      <td><%= library.quantity %></td>
	      <td><%= library.pmol_after %></td>
	    </tr>
	  <% end %>
	</tbody>
	<% @libraries.each do |lib| %>
	<%= f.hidden_field :lib_ids, :multiple => true, :value => lib.id %>
	<% end %>
</table>
	<table >
		<tbody>
			<tr>
				<td>
					<p>Date Pooling:</p>
					<%= f.text_field :date_pooling %>
				</td>
				<td>
					<p>Pool Name:</p>
					<%= f.text_field :name %>
				</td>
			</tr>
				<td>
					<p>ul Dilution (use 2...5)</p>
					<%= f.text_field :ul_dilution %>
				</td>
			</tr>
		</tbody>	
	</table>
	<hr>
	<p><h2>5ul lib + x ul low TE buffer</h2></p>
	<% dilutions_array = "" %>
	<% @dilutions.each_pair do |key, value| %>
		<p>Library name: <%= key %> </p>
		<p>Value: <%= value %></p>
		<% dilutions_array += key + "," + value.to_s + "," %>

	<% end %>
	<%= f.hidden_field :dilutions, :value => dilutions_array %>
	<hr>p
	<%= f.submit %>
<% end %>