<h3>Selected Libraries:</h3>
<table id="myfileTable">
	<thead>
	  <tr>
	    <th>Lib name:</th>
	    <th>Sample name:</th>
	    <th>Target size:</th>
	    <th>Quantity:</th>
	    <th>pmol/L (after):</th>
	  </tr>
	</thead>
	<tbody>
	  <% @pool.libraries.each do |library| %>
	    <tr>
	      <td><%= library.lib_number %></td>
	      <td><%= library.sample.name %></td>
	      <td><%= library.target_size %></td>
	      <td><%= library.quantity %></td>
	      <td><%= library.pmol_after %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
<hr>
	<table id="myfileTable">
		<tbody>
			<tr>
				<td>
					<p>Date Pooling:</p>
					<p><%= @pool.date_pooling %></p>
				</td>
				<td>
					<p>Pool Name:</p>
					<p><%= @pool.name %></p>
				</td>
				<td>
					<p>ul Dilution (use 2...5)</p>
					<p><%= @pool.ul_dilution %></p>
				</td>				
			</tr>
			<tr>
				<td>
					<p>Bioanalyser Qbit: </p>
					<p><%= @pool.bioanalyser_qbit %></p>
				</td>				
				<td>
					<p>Pool ready?</p>
					<p><%= @pool.ready %></p>
				</td>
			</tr>
		</tbody>	
	</table>
	<hr>
	<p><h2>5ul lib + x ul low TE buffer</h2></p>

	<% @lib5uls.each do |lib5ul| %>
		<p>Library name: <%= lib5ul.library.lib_number %> </p>
		<p>Value: <%= lib5ul.value %></p>
	<% end %>
	<hr>

<%= link_to 'Edit', edit_pool_path(@pool) %>
<hr>
<%= form_for [@pool, @seqfile], :html => { :multipart => true } do |f| %>
	<div class="field">
		<ul>
		<p><%= f.file_field :attachment %></p>
		<p><%= f.label "Select Category:" %></p>
		<p><%= f.select :category, 
			[ 'Bioanalyser', 'Qbit', 'Other' ], :prompt => 'Select One' %>
		</p>			
		</ul>		
	</div>
	<%= f.submit %>
<% end %>
<hr>
<table id="myfileTable">
	<thead>
		<tr>
			<th>
				File Name:
			</th>
			<th>
				Category:
			</th>					
		</tr>
	</thead>
	<tbody>
		<% @seqfiles.each do |myfile| %>
			<tr>
				<td>
					<p><%= myfile.attachment_file_name %>, </p>
				</td>
				<td>
					<p><%= myfile.category %>, </p>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>