<%= form_for [@project, @sample] do |f| %>
	<div class="field">
		<p>Name:</p>
		<p><%= f.text_field :name, placeholder: "Sample Name..." %></p>
		<p>Sample Description:</p>
		<p><%= f.text_area :description, placeholder: "Please describe your" %>
		<p>Size (bp):</p>
		<p><%= f.text_field :size, placeholder: "Sample Size..." %></p>
		<p>Quantity (ng/ul):</p>
		<p><%= f.text_field :quantity, placeholder: "Quantity..." %></p>
	</div>
	<%= f.submit %>
<% end %>