
<%= form_for [@user, @template] do |f| %>

	<div id="myTwoColumn">

	<p>Date Bioanalyser:</p>
	<%= f.text_field :date_bioanalyser %>
	<p>Qubit after ES:</p>
	<p><%= f.text_field :qbit_after_es %></p>
	<p>Qubit before ES:</p>
	<p><%= f.text_field :qbit_before_es %></p>		

	<p>Comment:</p>
	<p><%= f.text_area :comment %></p>
	<hr>
	<p>Select Kits:</p>

	<%= select_tag :inventories, options_from_collection_for_select(Inventory.where(:item_description => 'Template prep'), 'id', 'combined_name' ), :multiple => true %>

	<hr>
	<p>Template failed</p>
	<p><%= f.radio_button :failed, 'true' %></p>
	<p>Template OK</p>
	<p><%= f.radio_button :failed, 'false' %></p>
	<%= f.hidden_field :pool_id, :value => @pool.id %>
	</div>
	<%= f.submit %>
<% end %>


