<h2>Template</h2>
<hr/>

<table class="display">
	<tbody>
		<tr>
			<td>
				<p>Date Bioanalyser:</p>
				<p><%= @template.date_bioanalyser %></p>
			</td>
			<td>
				<p>For User:</p>
				<p><%= @user.name %></p>
			</td>
			<td>
				<p>Project:</p>
				<p><%= @template.pool %></p>
			</td>
		</tr>
	</tbody>
</table>
<hr>
<% @template.pool.libraries.each do |lib| %>
	<%= lib.lib_number %>
	<%= lib.comment %>
<% end %>
hello
<hr>
<h3>Template Kits used:</h3>
<% @template.inventories.each do |i| %>
	<p><%= i.category.name %> | <%= i.lot_number %></p>
<% end %>
<hr>
<h3>Library Kits used:</h3>
<%= @template.pool.nil? ?  "pool is nil" : @template.pool.tdf_used.to_s %>
<% @template.inventories.each do |inv| %>
	<p><%= inv.category.name %>  | <%= inv.lot_number %></p>
<% end %>
<hr>
<% if @template.failed? %>
	<p>Template has failed or has not been approved!</p>
	<%= link_to 'Validate this Template', validate_template_path(@template) %>
<% else %>
	<p>Template is ready </p>
	<%= link_to 'Create Sequencing Run', '#' %>
<% end %>	
<hr>
<%= link_to 'Edit Template', edit_template_path(@template) %>