<h2>Template</h2>
<hr/>
<div id="myTwoColumn">
	<aside>
		<p>Template for user:</p>
		<p><%= @user.name %></p>
		<p>Ot kit used:</p>
		<p><%= @template.ot_kit_used %></p>
		<p>pmol/L:</p>
		<p><%= @template.pmol_l%></p>
		<p>pmol/L pool:</p>
		<p><%= @template.pmol_l_pool %></p>
		<p>Pooling:</p>
		<p><%= @template.pooling %></p>
	</aside>
	<article>
		<p>Qubit after ES:</p>
		<p><%= @template.qbit_after_es %></p>
		<p>Qubit before ES:</p>
		<p><%= @template.qbit_before_es %></p>		
		<p>TDF:</p>
		<p><%= @template.tdf %></p>
		<p>TDF pool:</p>
		<p><%= @template.tdf_pool %></p>		
		<p>Comment:</p>
		<p><%= @template.commit %></p>
		<p>Done by:</p>
		<p><%= @responsible.name %></p>
	</article>
	<hr/>	
	<% if @template.failed? %>
		<p>Template has failed or has not been approved!</p>
		<%= link_to 'Validate this Template', validate_template_path(@template) %>
	<% else %>
		<p>Template is ready </p>
		<%= link_to 'Create Sequencing Run', '#' %>
	<% end %>	
	<hr>
	<%= link_to 'Edit Template', edit_template_path(@template) %>
</div>