<%= form_for [@project, @sample, @library] do |f| %>
<p>Library Name: <%= @library.lib_number %></p>
<table class="display">
	<tbody>
		<tr>
			<td>
				<%= f.label "Library Date" %>
				<%= f.text_field :lib_date %>

			</td>
			<td>			
				<%= f.label "ul used" %>
				<%= f.text_field :ul_used %>
			</td>
			<td>			
				<%= f.label "Target size (bp)" %>
				<%= f.text_field :target_size %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "ng/ul" %>
				<%= f.text_field :quantity %>
			</td>	
			<td>
				<%= f.label "MID" %>
				<%= f.text_field :mid %>
			</td>
			<td>
				<%= f.label "Shearing/min" %>
				<%= f.text_field :shearing_min %>
			</td>
			
		</tr>		
		<tr>
			<td>
				<%= f.label "End repair done" %>
				<%= f.check_box :end_repair_done %>
			</td>								
			<td>
				<%= f.label "Number of Bands in Gel" %>
				<%= f.text_field :number_of_bands_in_eGel %>
			</td>
			<td>
				<%= f.label "Cycles of amplification" %>
				<%= f.text_field :cycles_of_amplification %>
			</td>			
		</tr>
		<tr>
			<td>
				<%= f.label "Date Bioanalyser" %>
				<%= f.text_field :date_bioanalyser %>
			</td>
			<td>
				<%= f.label "pmol before" %>
				<%= f.text_field :pmol_before %>
			</td>
			<td>
				<%= f.label "pmol after" %>
				<%= f.text_field :pmol_after %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "Comment" %>
				<%= f.text_field :comment %>
			</td>
		</tr>
	</tbody>
</table>
<hr>
	<p id="box_failed">
		<%= f.label "Library failed?" %>
		<%= f.check_box :failed %>				
	</p>
	<p id="comment_why">
		<%= f.label "Failed why?" %>
		<%= f.text_area :comment_why %>
	</p>
	<hr>
	<p>Select the kits used for your Library:</p>
	<div class="mySelectTag">
	<%= select_tag :inventories, options_from_collection_for_select(@inventories, 'id', 'combined_name' ), :multiple => true %>
  	</div>
<hr>
	<%= f.submit %>
<% end %>