<h2>Library for Sample: <%= @sample.name %></h2>

<table class="display">
	<tbody>
		<tr>
			<td>
				<p>Library Date:</p>
				<%= @library.lib_date %>
			</td>
			<td>
				<p>Sample Name:</p>
				<%= @library.sample.name %>
			</td>
			<td>
				<p>Library Name:</p>
				<%= @library.lib_number %>
			</td>
		</tr>
		<tr>
			<td>
				<p>Library Target Size:</p>
				<%= @library.target_size %>
			</td>
			<td>
				<p>ng/ul:</p>
				<%= @library.quantity %>
			</td>
			<td>
				<p>ul used:</p>
				<%= @library.ul_used %>
			</td>
		</tr>
		<tr>
			<td>
				<p>MID:</p>
				<%= @library.mid %>
			</td>
			<td>
				<p>Shearing (min):</p>
				<%= @library.shearing_min %>
			</td>
			<td>
				<p>Shearing Kit:</p>
				<%= @library.shearing_kit %>
			</td>				
		</tr>
		<tr>
			<td>
				<p>End Repair done?:</p>
				<%= @library.end_repair_done %>
			</td>				
			<td>
				<p>No.Bands in E-Gel:</p>
				<%= @library.number_of_bands_in_eGel %>
			</td>				
			<td>
				<p>Cycles Amplification:</p>
				<%= @library.cycles_of_amplification %>
			</td>				
		</tr>			
		<tr>
			<td>
				<p>Date Bionanalyser:</p>
				<%= @library.date_bioanalyser %>
			</td>				
			<td>
				<p>pmol before:</p>
				<%= @library.pmol_before %>
			</td>				
			<td>
				<p>pmol after:</p>
				<%= @library.pmol_after %>
			</td>				
		</tr>
		<tr>
			<td>
				<p>Comment:</p>
				<%= @library.comment %>
			</td>				
		</tr>
	</tbody>
</table>	
<h3>Library Kits used:</h3>
<% @library.inventories.each do |inv| %>
	<p><%= inv.category.name %>  | <%= inv.lot_number %></p>
<% end %>

<hr>
<p><%= link_to "Edit Library", 
	edit_project_sample_library_path(@project, @sample, @library) %></p>
