<p>Name: <%= @project.name %></p>
<p>Owner: <%= @project.user.name %></p>
<p>Created at: <%= @project.created_at.to_date %></p>
<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Show all Projects", projects_path %>
