<div class="container">

<aside class="myAside">

	<article>		
		<p>Name: <%= @project.name %></p>
		<p>State: <%= @project.state %></p>
		<p>Owner: <%= @project.user.name %></p>
		<p>Created at: <%= @project.created_at.to_date %></p>	
	</article>
	<hr />

	<ul class="nav nav-pills">
		<ul class="nav nav-tabs nav-stacked">
		  <li>
			<%= link_to "Edit Project", edit_project_path(@project) %>  
		  </li>
		  <li>	
		  	<%if @project.mianes.any? and @project.state == "ready" %>
				<%= link_to "Create new Sample", new_project_sample_path(@project) %>
			<% end %>
			</li>
		  <li>
			<%if @project.mianes.any? and @project.state == "ready" %>
				<%= link_to "Create new Sample", new_project_sample_path(@project) %>
			<% end %>
		  </li>
		  <li>
			<% if !@project.mianes.any? %>
				<%= link_to "Miane Information Wizard", new_project_miane_path(@project) %>		
			<% end %>
		  </li>
		  <li>
			<%if @project.mianes.any? %>
				<%= link_to "Edit Miane Sheet", edit_project_miane_path(@project, @miane) %>
			<% elsif !@project.mianes.any? and current_user.role == 'Moderator' %>				
				<%= link_to "Edit Miane Sheet", edit_project_miane_path(@project) %>
			<%end%>
		  </li>
		  <li>
			<%= link_to "Show miane history", project_mianes_path(@project) %>
		  </li>
		  <li>
		  	<%= link_to "Upload File", new_project_myfile_path(@project) %>
		  </li>
		</ul>
	</ul>	

	<% if current_user.role == 'Moderator' || current_user.role == 'Admin' %>
	<article>
		<hr>
			<h4>Change Project State</h4>
		<p>
		<p>
			<%= form_for [@project] do |f| %>
			<%= f.select :state, [["Incomplete", "Incomplete"],
								["wait for approval", "wait for approval"], 
								["ready", "ready"],
								["processing", "processing"],
								["finished", "finished"],
								["closed", "closed"],
								["ready", "ready"],
								["on hold", "on hold"]] %>
			<%= f.submit %>
			<% end %>
		</p>			
		</p>
		<hr>
	</article>
	<% end %>
</aside>

<section>
	<% if @miane %>
	<article>
		<span class="label">Latest MIANE Information:</span>

		<table id="miane" class="alternateTable">
			<tbody class="mytBody">

				<tr class="alt">
					<td width="30%">
						Aim:		
					</td>
					<td>
						<%= @miane.aims%>		
					</td>
				</tr>
				<tr>
					<td width="30%">
						Expected Result:		
					</td>
					<td>
						<%= @miane.expected_result%>		
					</td>
				</tr>
				<tr class="alt">
					<td width="30%">
						Why do you need NGS:		
					</td>
					<td>
						<%= @miane.why_ngs%>		
					</td>
				</tr>

				<tr>
					<td width="30%">
						Is there a possible Alternative:		
					</td>
					<td>
						<%= @miane.possible_alternative%>		
					</td>
				</tr>

				<tr class="alt">
					<td width="30%">
						Approach:		
					</td>
					<td>
						<%= @miane.approach%>		
					</td>
				</tr>
				<tr class="alt">
					<td width="30%">
						Construct:		
					</td>
					<td>
						<%= @miane.construct %>		
					</td>
				</tr>
				<tr>
					<td width="30%">
						Positive Control:		
					</td>
					<td>
						<%= @miane.positive_control%>		
					</td>
				</tr>	

				<tr class="alt">
					<td width="30%">
						Negative Control:		
					</td>
					<td>
						<%= @miane.negative_control%>		
					</td>
				</tr>

				<tr>
					<td width="30%">
						Replicates:		
					</td>
					<td>
						<%= @miane.replicates%>		
					</td>
				</tr>

				<tr class="alt">
					<td width="30%">
						Possible Pitfalls:		
					</td>
					<td>
						<%= @miane.possible_pittfalls%>		
					</td>
				</tr>																				
				<tr>
					<td width="30%">
						Needs for Quality Control:		
					</td>
					<td>
						<%= @miane.needs_qc%>		
					</td>
				</tr>								

			</tbody>
		</table>		

	</article>
	<% else %>
		<article class="vim">
			<h1>No MIANE information exists !</h1>
		</article>
	<% end %>
</section>
<hr/>

<section>
	<span class="label">My Samples:</span>
	<%= render 'layouts/samples_table' %>
</section>

<section>
	<span class="label">My Documents:</span>
	<%= render 'layouts/myfiles_table' %>
</section>

<section>
	<span class="label">My Templates:</span>
	<%= render 'layouts/mytemplates_table' %>
</section>
</div>
