<div class="container">

<aside class="myAside">

	<article>
		<hgroup>
			<h2>Project details:</h2>
		</hgroup>		
		<p>Name: <%= @project.name %></p>
		<p>State: <%= @project.state %></p>
		<p>Owner: <%= @project.user.name %></p>
		<p>Created at: <%= @project.created_at.to_date %></p>	
	</article>
	<hr />
	<p><%= link_to "Edit Project", edit_project_path(@project) %></p>
	<%if @project.mianes.any? and @project.state == "ready" %>
		<p><%= link_to "Create new Sample", new_project_sample_path(@project) %></p>
	<% end %>
	<% if !@project.mianes.any? %>
		<p><%= link_to "Miane Information Wizard", new_project_miane_path(@project) %></p>			
	<% end %>
	
	<%if @project.mianes.any? %>
		<p><%= link_to "Edit Miane Sheet", edit_project_miane_path(@project, @miane) %></p>
	<% elsif !@project.mianes.any? and current_user.role == 'Moderator' %>				<p><%= link_to "Edit Miane Sheet", edit_project_miane_path(@project) %></p>
	<%end%>
	<p><%= link_to "Show miane history", project_mianes_path(@project) %></p>
	<% if current_user.role == 'Moderator' %>
	<article>
		<hr>
			<h3>Change Project State</h3>
		<p>
		<p>
			<%= form_for [@project] do |f| %>
			<%= f.select :state, [["Incomplete", "Incomplete"],
								["wait for approval", "wait for approval"], 
								["ready", "ready"],
								["processing", "processing"],
								["finished", "finished"],
								["closed", "closed"],
								["ready", "ready"],
								["on hold", "on hold"]] %>
			<%= f.submit %>
			<% end %>
		</p>			
		</p>
	</article>
	<% end %>
</aside>
<section>
	<% if @miane %>
	<article>
		<h2>latest Miane Information</h2>
		
		<table id="miane" class="alternateTable">
			<tbody class="mytBody">

				<tr class="alt">
					<td width="30%">
						Aim:		
					</td>
					<td>
						<%= @miane.aims%>		
					</td>
				</tr>
				<tr>
					<td width="30%">
						Expected Result:		
					</td>
					<td>
						<%= @miane.expected_result%>		
					</td>
				</tr>
				<tr class="alt">
					<td width="30%">
						Why do you need NGS:		
					</td>
					<td>
						<%= @miane.why_ngs%>		
					</td>
				</tr>

				<tr>
					<td width="30%">
						Is there a possible Alternative:		
					</td>
					<td>
						<%= @miane.possible_alternative%>		
					</td>
				</tr>

				<tr class="alt">
					<td width="30%">
						Approach:		
					</td>
					<td>
						<%= @miane.approach%>		
					</td>
				</tr>

				<tr>
					<td width="30%">
						Positive Control:		
					</td>
					<td>
						<%= @miane.positive_control%>		
					</td>
				</tr>	

				<tr class="alt">
					<td width="30%">
						Negative Control:		
					</td>
					<td>
						<%= @miane.negative_control%>		
					</td>
				</tr>

				<tr>
					<td width="30%">
						Replicates:		
					</td>
					<td>
						<%= @miane.replicates%>		
					</td>
				</tr>

				<tr class="alt">
					<td width="30%">
						Possible Pitfalls:		
					</td>
					<td>
						<%= @miane.possible_pittfalls%>		
					</td>
				</tr>																				
				<tr>
					<td width="30%">
						Needs for Quality Control:		
					</td>
					<td>
						<%= @miane.needs_qc%>		
					</td>
				</tr>								

			</tbody>
		</table>		

	</article>
	<% else %>
		<article class="vim">
			<h1>No MIANE information exists !</h1>
		</article>
	<% end %>
</section>
<hr/>

<section>
	<h2>My Samples:</h2>
	<%= render 'layouts/samples_table' %>
</section>
</div>
