<style type="text/css">
    body { font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px;}
    #main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
    #header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
    fieldset { border:none; width:320px;}
    legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
    label { display:block; margin:15px 0 5px;}
    input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
    .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
    .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
    .prev { float:left;}
    .next { float:right;}
    #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
    #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
    #steps li span {font-size:11px; display:block;}
    #steps li.current { color:#000;}
    #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
    #makeWizard:hover { background-color:#000;}
</style>

<script type="text/javascript" src="formToWizard.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#SignupForm").formToWizard({ submitButton: 'SaveAccount' })
    });
</script>
  
<div class="container">

	We kindly request the information below. 
	You are happily invited to discuss your project beforehand. <br/>
A discussion beforehand is meant to save a lot of time which has to be invested afterwards, in case necessary information was missing to start the analysis. Additionally, it would be important to figure out if the data analysis you are looking forward can be accomplished at all by the experiment you are going to do. It is absolutely essential to have the basic data documentation as requested below for possible future tasks (e.g. re-analysis).	
<hr/>
<section>

    <%= form_for [@project, @miane], :html => {:id => "SignupForm"} do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="controls">     
    <fieldset>  
        <legend>Aim of the Project</legend>
        <p><%= f.label "Aim" %></p>
    	<p><%= f.text_area :aims,:id => 'wysihtml5-textarea', placeholder: "Please describe the aim of your project" %></p>
        <p><%= f.label "Expected Result" %></p>
    	<p><%= f.text_area :expected_result,:id => 'wysihtml5-textarea2', placeholder: "What result do you expect?"%></p>
    </fieldset>     	
    <fieldset>
        <legend>Alternatives</legend>
        <p><%= f.label "Why do you plan a NGS Experiment?" %></p>
    	<p><%= f.text_area :why_ngs,:id => 'wysihtml5-textarea3', placeholder: "Why a NGS experiment?" %></p>
        <p><%= f.label "Is there an alternative?" %></p>
    	<p><%= f.text_area :possible_alternative,:id => 'wysihtml5-textarea4', placeholder: "Is there a possible alternative?" %></p>        
    </fieldset> 
    <fieldset>
        <legend>Approach</legend>
        <p><%= f.label "Genome Wide" %></p>
        <p><%= f.radio_button :approach, 'genome' %></p>
        <p><%= f.label "Amplicon" %></p>
        <p><%= f.radio_button :approach, 'amplicon' %></p>
        <p><%= f.label "If Amplicon, please insert your construct e.g.:" %></p>
        <p><%= f.label "TAG-ADAPTER-FORWARDPRIMER-SEQUENCE-REVPRIMER-ADAPTER-TAG" %></p>
        <p><%= f.text_area :construct, :id => 'wysihtml5-textarea5',placeholder: "Construct..." %></p>
    </fieldset> 
    <fieldset>
        <legend>Controls</legend>    	
        <p><%= f.label "Positive Control" %></p>
    	<p><%= f.text_area :positive_control, :id => 'wysihtml5-textarea6',placeholder: "Positive control?" %></p>
        <p><%= f.label "Negative Control" %></p>
        <p><%= f.text_area :negative_control, :id => 'wysihtml5-textarea7',placeholder: "Negative control?" %></p>
    </fieldset> 
    <fieldset>
        <legend>Replicates and Data Sets</legend>       
        <p><%= f.label "Replicates?" %></p> 
        <p><%= f.text_area :replicates, :id => 'wysihtml5-textarea8',placeholder: "Do you use Replicates?" %></p>
        <p><%= f.label "Do you have a Reference Dataset?" %></p>
        <p><%= f.text_area :reference_dataset, :id => 'wysihtml5-textarea9',placeholder: "Please copy and paste in here" %></p>
    </fieldset>
    <fieldset>
        <legend>Extended Information</legend>       
        <p><%= f.label "Possible Pittfals?" %></p> 
        <p><%= f.text_area :possible_pittfalls, :id => 'wysihtml5-textarea10',placeholder: "Can you think of possible Pittfals?" %></p>
        <p><%= f.label "Quality Control" %></p>
        <p><%= f.text_area :needs_qc, :id => 'wysihtml5-textarea11',placeholder: "Do you have any needs concerning quality control?" %></p>
    </fieldset>
    <%= f.submit %>

    <% end %>
</section>

<script>              
  var editor = new wysihtml5.Editor("wysihtml5-textarea", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });

  var editor = new wysihtml5.Editor("wysihtml5-textarea2", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea3", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea4", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea5", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea6", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea7", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea8", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea9", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea10", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });  

  var editor = new wysihtml5.Editor("wysihtml5-textarea11", {
    "toolbar":      "wysihtml5-toolbar",
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": false //Button to change color of font      
  });                    
</script>

</div>