<table id="libraries" class="display">
	<thead>
		<tr>
			<th>
				Library Date
			</th>
			<th>
				Sample name
			</th>
			<th>
				Shearing Kit used
			</th>			
			
			<th>
				Target Size (bp)
			</th>
			<th>
				ng/ul
			</th>
			<th>
				ul used
			</th>			
			<th>
				MID
			</th>
			<th>	
				Shearing in min
			</th>	
			<th>
				End repair done
			</th>
			<th>
				Number of bands on e-gel
			</th>			
			<th>
				Cycles of amplification
			</th>
			<th>
				Date Bioanalyser
			</th>				
			<th>
				pmol/L before ampl.
			</th>				
			<th>
				pmol/L after ampl.
			</th>			
			<th>
				Comment
			</th>											
		</tr>
	</thead>
	<tbody>
		<% @libraries.each do |library| %>
			<tr>
				<td>
					<%= library.lib_date %>
				</td>
				<td>
					<%= library.sample.name %>
				</td>
				<td>
					<%= library.shearing_kit %>
				</td>
				<td>
					<%= library.target_size %>
				</td>
				<td>
					<%= library.quantity %>
				</td>
				<td>
					<%= library.ul_used %>
				</td>
				<td>
					<%= library.mid %>
				</td>
				<td>
					<%= library.shearing_min %>
				</td>
				<td>
					<%= library.end_repair_done %>
				</td>				
				<td>
					<%= library.number_of_bands_in_eGel %>
				</td>				
				<td>
					<%= library.cycles_of_amplification %>
				</td>				
				<td>
					<%= library.date_bioanalyser %>
				</td>				
				<td>
					<%= library.pmol_before %>
				</td>				
				<td>
					<%= library.pmol_after %>
				</td>				
				<td>
					<%= library.comment %>
				</td>				
			</tr>
		<% end %>
	</tbody>
</table>