<table id="templates" class="display">
	<thead>
		<tr>
			<th>
				select:
			</th>
			<th>
				Libraries:
			</th>
			<th>
				Ot kit used:
			</th>
			<th>
				pmol/L
			</th>
			<th>
				pmol/L pool
			</th>
			<th>
				pooling
			</th>
			<th>
				qbit before es
			</th>
			<th>
				qbit after es
			</th>
			<th>
				tdf
			</th>
			<th>
				tdf pool
			</th>
			<th>
				failed
			</th>
			<th>
				comment
			</th>
		</tr>
	</thead>
	<tbody>
		<% @templates.each do |template| %>
			<tr>
				<td>
					<%= link_to 'select', template %>
				</td>
				<td>
					<%= template_name(template) %>
				</td>
				<td>
					<%= template.ot_kit_used %>
				</td>
				<td>
					<%= template.pmol_l %>
				</td>
				<td>
					<%= template.pmol_l_pool %>
				</td>
				<td>
					<%= template.pooling %>
				</td>
				<td>
					<%= template.qbit_before_es %>
				</td>
				<td>
					<%= template.qbit_after_es %>
				</td>
				<td>
					<%= template.tdf %>
				</td>
				<td>
					<%= template.tdf_pool %>
				</td>
				<td>
					<%= template.failed? %>
				</td>
				<td>
					<%= template.commit %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>